#genlist {
  display: flex;
  justify-content: center;
  & img {
    cursor: pointer;
  }
}

#valid-button {
  background: rgb(146, 224, 164);
  border: solid 3px rgb(215, 249, 223);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  &:hover {
    background: none;
    border: solid 3px rgb(146, 224, 164);
    color: rgb(215, 249, 223);
  }
}

.starter:not(.active) {
  filter: grayscale(1);
}