@font-face {
  font-family: "Avenixel";
  src: url("./resources/Avenixel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PicoBlack";
  src: url("./resources/Minecraftia.ttf") format("truetype");
}

@keyframes flipInY {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

body {
  margin: 0;
}